body, p, h1, h2, h3, h4, h5, h6, blockquote, pre, code, ul, ol, li, table, th, td, caption, input, textarea, button {
    font-family: "Merriweather", "华文楷体", sans-serif;
}

.md-typeset .admonition:first-of-type,
.md-typeset details {
  font-size: x-large;
  text-align: center;
}
